.rank-group {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  margin-left: 4px;
  gap: 1px;
}

.rank-label {
  display: inline-block;
  background-color: #337ab7;
  /* Default fallback */
  color: white;
  padding: 0px 3px;
  border-radius: 3px;
  font-size: 0.6em;
  vertical-align: middle;
  font-weight: 600;
  line-height: normal;
  text-transform: none;
  /* preventing uppercase transition if inherited */
}

.rank-csr {
  background-color: #d9534f;
}

/* Red */
.rank-astar {
  background-color: #337ab7;
}

/* Blue */
.rank-a {
  background-color: #5bc0de;
}

/* Light Blue */
.rank-jcr {
  background-color: #5cb85c;
}

/* Green */
.rank-other {
  background-color: #999999;
}

/* Gray */
span.rank-label.rank-award {
  background-color: #ffc107 !important;
  color: #333 !important;
}

/* Yellow */

/* Add margin to standalone labels that are not in a group */
span:not(.rank-group)>.rank-label {
  margin-left: 4px;
}